* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 80vh;
}
.todoapp {
  margin: auto;
  max-width: fit-content;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
}
.textfieldandbutton {
  display: flex;
  gap: 0.7rem;
  width: 100%;

  justify-content: space-between;
}
.text-input {
  font-size: 1rem;
  padding: 4px;
  width: 100%;
}

.addButton {
  padding: 4px;
}
